@import "../../ui/variables.module.scss";

.navbar {
  height: 80px;
  width: 100%;
  color: $main_black_color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
}

.username {
  cursor: pointer;
  text-decoration: none;
  color: $main_gray_2b_color;
  font-family: "Inter";
  line-height: 24px;
}

.user__content {
  display: flex;
  gap: 8px;
  align-items: center;
  position: relative;
  &:hover > .username {
    font-weight: bold;
  }
}

.avatar {
  width: 48px;
  height: 48px;
  background-color: $main_gray_2b_color;
  border-radius: 50%;
}

.navbar__menu {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;  
}

.navbar__menu__item {
  cursor: pointer;
  list-style-type: none;
  text-transform: capitalize;
  display: flex;  
  align-items: center;
  gap: 4px;
  &:hover {
    font-weight: bold;
  }
}

.navbar__logo {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navigation {
  width: 400px;
  display: flex;
  flex-direction: row;
} 

.navigation__item {
  width: 200px;
  list-style-type: none;
  text-transform: capitalize;
}
