$main_black_color: #212121;
$main_blue_color: #00bfff;
$main_gray_f9_color: #f9f9f9;
$main_gray_a1_color: #a1a1a1;
$main_gray_22_color: #222222;
$main_gray_2b_color: #2b2b2b;
$main_gray_44_color: #444;
$main_gray_2280_color: #22222280;
$main_blue_02_color: rgba(39, 120, 182, 0.2);
$main_gray_41_color: #414141;
$main_black_95_color: #00000095;
$main_white_95_color: #ffffff95;
